@charset "UTF-8";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 20px;
}

@media screen and (max-width: 992px){
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 20px;
    }
}

