@charset "UTF-8";

/* @font-face {
    font-family: 'Abbott';
    src: url(../../../../../../fonts/AbbottOldStyle.ttf);
    font-weight: normal;
    font-style: normal;
} */

.logo {
    width: 270px;
    height: auto;
    transition: width 0.5s ease;
}

.titles {
    padding: 0;
    text-align: center;
    font-style: normal;
    margin: auto;
    width: 40%;
}

/* .title {
    position: relative;
    font-family: 'Abbott';
    font-size: 2.5em;
    color: #BF1304;
}

.title1 {
    position: relative;
    font-family: 'Abbott';
    font-size: 3em;
    color: #BF1304;
} */

@media screen and (max-width: 992px){

    .titles {
        width: 100%;
        height: auto;
        margin: auto;
        align-content: center;
        padding-top: 10px;
    }

    .logo {
        width: 150px;
        height: auto;
        transition: width 0.5s ease;
    }

    /* .title {
        font-size: 2em;
    }

    .title1 {
        font-size: 2.5em;
    } */
}