@font-face {
    font-family: 'Abbott';
    src: url(../../../../src/fonts/AbbottOldStyle.ttf);
    font-weight: normal;
    font-style: normal;
}

.divSobre {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    width: 75%;
    padding-top: 30px;
}

@media screen and (max-width: 992px){

    .divSobre {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        width: 100%;
        padding-top: 30px;
    }
}