@charset "UTF-8";

.list {
    display: flex;
    list-style: none;
    padding: 20px 35px;
    color: white;
    font-size: 1.5em;
    padding-left: 60px;
    background-color: rgba(0,0,0,.7);
    height: 80px;
}

.itemlist {
    padding: 35px 55px;
    cursor: pointer;
    font-size: 0.9em;
}

.itemlist_center {
    padding: 35px 20px;
    cursor: pointer;
    font-size: 0.9em;
    padding-right: 200px;
}

.itemlist_center_left {
    padding: 35px 20px;
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 200px;
}

.a_link {
    text-decoration: none;
}

.a_link:hover {
    color: #BF1304;
}

.mobileNavigation {
    display: none;
}

.div_Bar {
    display: flex;
    position: absolute;
    /* position: fixed; */
    justify-content: center;
    /* background-color: rgba(0,0,0,.7); */
    width: 100%;
    height: 0px;
    top: 0px;
    /* z-index: 1; */
}


@media screen and (max-width: 992px){

    /* #181818 */

    .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:109px;
        right: 0px;
        width: 100%;
        background-color: #0f0f0f;
        border-top: 3px solid #000000;
        opacity: 1;
        height: 300px;
    }

    .itemlist {
        padding: 5%;
        cursor: pointer;
    }

    .itemlist_center {
        padding: 5%;
        cursor: pointer;
    }
    
    .itemlist_center_left {
        padding: 5%;
        cursor: pointer;
    }

    .navigation {
        display: none;
    }

    .mobileNavigation {
        display: flex;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
    }

    .a_link:hover {
        border-bottom: none;
        color: #BF1304;
    }

    .div_Bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #000000;
        width: 100%;
        height: 0px;
        padding: 90px 0px 5px 10px;
        z-index: 0;
    }
}