.header {
    display: flex;
    margin: auto;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: 'Abbott Old Style';
    color: #BF1304;
    padding-top: 20px;
    font-size: 2.5em;
}

.title1 {
    text-align: center;
    font-family: 'Abbott Old Style';
    color: #BF1304;
    font-size: 3em;
}

.list {
    display: flex;
    list-style: none;
    padding: 35px;
    color: white;
    font-size: 1.5em;
}

.itemlist {
    padding: 20px 30px 0px 20px;
    cursor: pointer;
}

.img {
    display: flex;
    margin: auto;
    width: 55vw;
}

.frase {
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    margin: 50px;
    padding: 10px 15px 30px;
}

.apresentacao {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;
}

.h2_apresentacao {
    font-size: 2.5em;
    padding: 20px 0px 20px 10px;
    text-align: center;
}

.img_apresentacao {
    width: 30vw;
    margin-left: 40px;
}

.img_apresentacao_left {
    width: 30vw;
    margin-right: 40px;
}

.img_apresentacao_left2 {
    display: none;
}

.p_apresentacao {
    width: 30vw;
    font-size: 1.3em;
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: white;
}

.p_footer {
    padding: 10px;
    color: black;
    font-size: 1.3em;
}

.logo_footer {
    padding: 10px;
    cursor: pointer;
}

.footer2 {
    display: none;
}



/* Typical Device Breakpoints
----------------------------------
pequenas telas: até 600px;
Celular: até 600px;
Tablet: 769px até 992px;
Desktop: 993px até 1200px;
Grandes telas: Acima de  1200px.*/

@media screen and (max-width: 992px){

    .list {
        display: none;
    }

    .titles {
        padding-top: 15px;
    }

    .title {
        font-size: 2em;
    }

    .title1 {
        font-size: 2.5em;
    }

    .img {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 99vw;
        padding-top: 20px;
    }

    .frase {
        font-size: 1em;
        padding-bottom: 5px;
    }

    .apresentacao {
        justify-content: center;
        width: 85%;
        display: block;
        text-align: justify;
        padding: 0;
    }

    .h2_apresentacao {
        padding: 0px 0px 20px;
        font-size: 1.3em;
        display: block;
    }

    .p_apresentacao {
        font-size: 1em;
        display: inline;
    }

    .img_apresentacao_left {
        display: none;
    }

    .img_apresentacao, .img_apresentacao_left2 {
        width: 85vw;
        margin: auto;
        display: inline-block;
        padding: 20px 0px 30px;
    }

    .footer {
        display: none;
    }

    .footer2 {
        margin: auto;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 99vw;
    }

    .p_footer {
        font-size: 1.2em;
    }

    .logo_footer {
        padding: 0px 3px;
    }

}