.title {
    width: 100%;
    padding-bottom: 30px;
}

.titleH1 {
    display: flex;
    color: #BF1304;
    justify-content: center;
    font-size: 2.5em;
    font-style: normal;
    font-family: 'Abbott';
}

@media screen and (max-width: 992px){

    .title {
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
        text-align: center;
    }

    .titleH1 {
        display: flex;
        color: #BF1304;
        justify-content: center;
        font-size: 1.7em;
        font-style: normal;
        font-family: 'Abbott';
    }
}