@charset "UTF-8";

@font-face {
    font-family: 'Abbott';
    src: url('../../../../../../assets/fonts/AbbottOldStyle.ttf'); font-weight: normal; font-style: normal;
}

.titles {
    text-align: center;
    padding-top: 20px;
}

.title {
    font-family: 'Abbott';
    font-size: 2.5em;
    color: #BF1304;
}

.title1 {
    font-family: 'Abbott';
    font-size: 3em;
    color: #BF1304;
}

@media screen and (max-width: 992px){
    .titles {
        padding-top: 10px;
    }

    .title {
        font-size: 2em;
    }

    .title1 {
        font-size: 2.5em;
    }
}