@charset "UTF-8";

.list {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    font-size: 1.5em;
}

.divListLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.divListRight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.itemlist {
    padding: 0px 25px 0px 30px;
    cursor: pointer;
    font-size: 0.9em;
}

.a_link {
    text-decoration: none;
}

.a_link:hover {
    color: #BF1304;
}

.mobileNavigation {
    display: none;
}

.div_Bar {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 0px;
    top: 0px;
}


@media screen and (max-width: 992px){

    .navBar {
        width: 100%;
    }

    .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:115px; 
        right:0px;
        width: 100%;
        background-color: #0f0f0f;
        border-top: 3px solid #612b2b;
        height: 300px;
        justify-content: center;
    }

    .itemlist {
        padding: 5%;
        cursor: pointer;
    }

    .itemlist_center {
        padding: 5%;
        cursor: pointer;
    }
    
    .itemlist_center_left {
        padding: 5%;
        cursor: pointer;
    }

    .mobileNavigation {
        display: flex;
    }

    .hamburger {
        cursor: pointer;
    }

    .a_link:hover {
        border-bottom: none;
        color: #BF1304;
    }

    .div_Bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #000000;
        width: 100%;
        height: 0px;
        padding: 70px 0px 5px 10px;
    }

    .divList {
        display: flex;
    }

    .divListLeft {
        display: none;
    }
    
    .divListRight {
        display: none;
    }
}