@charset "UTF-8";

.img {
    display: flex;
    margin: auto;
    width: 85%;
}

@media screen and (max-width: 992px){
    .img {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 10px;
    }
}