* {
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Pirata One', 'Open Sans', 'sans-serif';
  color: white;
}

html, body, #root {
  background-color: #000000;
  height: 100%;
}

